body {
  background-color: rgba(212, 122, 32, 0.727);
  text-align: center;
  margin-top: 100px;
}
h1,
h2,
h3 {
  color: blanchedalmond;
  margin-bottom: 20px;
}

p {
  color: antiquewhite;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: bisque;
}
